<div>
  <div class="header-wrap">
    <h2>Product List</h2>
    <button (click)="addProduct()" mat-raised-button color="primary">
      Add Product
    </button>
  </div>

  <div class="content-div mt-4">
    <div *ngFor="let data of products$ | async" class="content-item">
      <div style="display: flex">
        <div class="content-img">
          <span>
            <img [src]="data.image" onerror="this.src='/assets/default.jpg';"/>
          </span>
        </div>
        <div class="content-detail">
            <h3>
              <b>{{ data.title }}</b>
            </h3>
            <div>
              <span>Category : {{ data.category }}</span>
              <span>Price : ${{data.price}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
